.icons {
    @apply flex space-x-1 mx-2 transition-colors duration-100;
    color: var(--theme-text-muted);

    & svg {
        @apply px-1 py-px cursor-pointer h-5 w-auto transition-colors duration-100;
        
        &:hover {
            color: var(--theme-primary);
        }
    }
}

.description {
    @apply mt-1 text-sm break-words line-clamp-2 pr-4;
    color: var(--theme-text-muted);

    & strong {
        color: var(--theme-text-base);
        @apply font-semibold break-all;
    }
}
